  <div class="container" style="padding-top: 70px;">
  <header class="mt-2">
    <h3><span class="fa fa-info-circle"></span>&nbsp;&nbsp;About</h3>
  </header>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col-md-2">Created By:</div>
      <div class="col-md-10">Neha Sharma</div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-2">Purpose:</div>
      <div class="col-md-10">This app contains the information of customers</div>
    </div>
  </div>
</div>
