<div class="container" style="padding-top: 70px;">
  <header class="mt-2">
    <h3><span class="fa fa-user"></span>&nbsp;&nbsp;Customer Information</h3>
  </header>
  <div class="row">
    <div class="col-md-12">
      <div class="navbar">
        <ul class="nav">
          <li class="nav-item pr-2" >
            <a routerLink="details"   routerLinkActive="active" style="cursor: pointer">
              <span class="fa fa-list"></span>&nbsp;&nbsp;Customer Details
            </a>
          </li>
          <li class="nav-item pr-2" >
            <a routerLink="edit"  routerLinkActive="active" style="cursor: pointer"
              ><span class="fa fa-edit"></span>&nbsp;&nbsp;Edit
              Customer</a
            >
          </li>
        </ul>
      </div>
      </div>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
    <br/>
    <br/>
    <a routerLink="/customers">View all Customers</a>
  </div>
</div>
