<div class="container" style="padding-top: 70px">
  <header class="mt-2">
    <h3><span class="fa fa-user space"></span>Customers</h3>
  </header>
  <div class="row">
    <div class="col-md-9">
      <div class="navbar">
        <ul class="nav" *ngIf="customers">
          <li class="nav-item">
            <a
              (click)="changeDisplayMode(displayModeEnum.Card)"
              style="cursor: pointer"
              [class.active]="displayMode === displayModeEnum.Card"
            >
              <span class="fa fa-th mr-1"></span>Card View
            </a>
          </li>
          <li class="nav-item">
            <a
              (click)="changeDisplayMode(displayModeEnum.List)"
              style="cursor: pointer"
              [class.active]="displayMode === displayModeEnum.List"
              ><span class="fa fa-bars mr-1"></span>List View</a
            >
          </li>
          <li class="nav-item">
            <a
              (click)="loadMapComponent()"
              style="cursor: pointer"
              [class.active]="displayMode === displayModeEnum.Map"
              ><span class="fa fa-map-marker mr-1"></span>Map View</a
            >
          </li>
          <li class="nav-item">
            <a [routerLink]="['/customers',null,'edit']" style="cursor: pointer"
              ><span class="fa fa-plus mr-1"></span>New User</a
            >
          </li>
        </ul>
      </div>
    </div>
    <!-- <div class="col-md-4 input-group">
      <input type="search" placeholder="Search" id="myInput" class="navbar-right border-right-0 border" name="search" [(ngModel)]="searchText"/>
      <span class="input-group-append">
        <button class="btn btn-outline-secondary border-left-0 border" type="button">
          <i class="fa fa-search"></i>
        </button>
      </span>
    </div> -->
    <div class="form-group has-search col-md-3">
      <input type="text" class="form-control"  name="search"
      [(ngModel)]="searchText"
      autocomplete="off"
      placeholder="Filter Customers:">
      <span class="fa fa-search form-control-feedback"></span>
  </div>
  </div>
  <br />

  <app-customers-card
  [customers]="customers"
    [hidden]="displayMode !== displayModeEnum.Card"
  ></app-customers-card>
  <app-customers-list
  [customers]="customers"

    [hidden]="displayMode !== displayModeEnum.List"
  ></app-customers-list>
  <div

  [hidden]="displayMode !== displayModeEnum.Map">
    <ng-container #mapContainer ></ng-container>
  </div>
</div>
