.brandColor {
  color: #ffffff;
  font-size: large;
  text-decoration: none;

}

.iconSpacing {
  padding: 0.5em;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: -1;
}
